extends ./layout/layouts

block content
		each val in Prod
				.col-lg-2(style='border:1px solid black;text-align: center;')
					p= val.name
					img(style='height:50px' src=val.image)
					p= val.discription
					a(href='/add/cart/'+ val.id) add cart


				a(href='?page=2')
					button.btn.btn-primary(type='button') 1
				a(href='?page=1')
					button.btn.btn-primary(type='button') 2
				a(href='?page=3')
					button.btn.btn-primary(type='button') 3

